:root{
  --bg: #f7dfd8;     
  --ink: #c64a60;    
}

*{ box-sizing:border-box; }
html, body{
  margin:0;
  height:100%;
  background:var(--bg);
  color:var(--ink);
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
body{
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
.img:hover{
  transform: translateY(-10px) scale(1.07);
  filter: drop-shadow(0 8px 12px rgba(0,0,0,.25));
}
.page{
  min-height:100svh;
  display:grid;
  grid-template-columns:1fr;
}

.video{
  width:100%;
  height:auto;
  border-radius:6px;
  display:flex;
  margin-top:18px;
  filter: drop-shadow(0 2px 4px rgba(228, 66, 66, 0.15));
}
.sidebar{
  inset:0 auto 0 0;
  width:min(180px, 42vw);
  padding:22px 18px;
  display:flex;
  flex-direction:column;
  gap:18px;
}
.eye{
  width:26px;
  height:auto;
  color:var(--ink);
  fill:none;
  stroke:currentColor;
  stroke-width:2.5px;
}
.nav{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:6px;
}
.nav-link{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size:13px;
  letter-spacing:0.12em;
  text-decoration:none;
  color:var(--ink);
  opacity:.9;
}
.nav-link:hover{ 
  opacity:1; 
  text-decoration:underline; }

.intro-natureofcode{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 14px;
  line-height:1.35;
  letter-spacing:.0.4em;
  max-width: 700px;
  padding: 5px 00 0 2px;
  margin-top:50px;
  display: flex;
  justify-content: center;
  margin-right: 18px;
  transform: translateY(-110px);
}

.intro{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 14px;
  line-height:1.35;
  letter-spacing:.0.4em;
  max-width: 700px;
  padding: 5px 00 0 2px;;
  margin-top:50px;
  display: flex;
}

.folder-button{
  background:transparent;
  border:none;
  padding:0;
  cursor:pointer;
  transition: transform .15s ease; 
}
.folder-button:hover{ 
  transform: translateY(-10px); 
}

.folder-button img{
  width: clamp(220px, 60vw, 420px);
  height: auto;
  display: block;
  filter: drop-shadow(0 2px 4px rgba(228, 66, 66, 0.15));
  transition: transform .2s ease, filter .2s ease;
}
.folder-hero:hover img {
  transform: translateY(-460px) scale(1.07);
  filter: drop-shadow(0 8px 12px rgba(0,0,0,.25));
}

.nav-projects{
  transform: translateY(-190px);
}
.hero{
  min-height: 100svh;
  display: grid;
  place-items: center;
  margin-left: min(100px, 42vw);
  margin-right: min(100px, 42vw);
}
.hero-wrap{
  display: grid;
  place-items: center;
  gap: 10px;
  width: 100%;
}
.projects-arc{width: clamp(10px, 60vw, 280px);
   height: auto;
    margin-top: 18px;
    /* background-color: #c64a60; */
    transform: translateY(-160px);
}
.hello-arc{ width: clamp(10px, 60vw, 280px);
   height: auto;
    margin-top: 18px;
    /* background-color: #c64a60; */
    transform: translateY(-10px);
  }

.hello-arc2{ width: clamp(10px, 60vw, 280px);
   height: auto;
    margin-top: 18px;
    /* background-color: #c64a60; */
    transform: translateY(-400px);
  }

.hello-text{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 13px;
  letter-spacing: 0.12em;
  fill: var(--ink);
}
/* images */
.hero img{
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: flex;
}
.folder-hero img{
  width: clamp(220px, 60vw, 420px);
  height: auto;
  display: block;
  filter: drop-shadow(0 2px 4px rgba(228, 66, 66, 0.15));
  transform: translateY(-450px);
  margin-left: 35px;
}
.folder-hero2 img{
    width: clamp(220px, 60vw, 420px);
  height: auto;
  display: block;
  filter: drop-shadow(0 2px 4px rgba(228, 66, 66, 0.15));
  transform: translateY(-70px);
}

.folder-hero2:hover img {
  transform: translateY(-76px) scale(1.07);
  filter: drop-shadow(0 8px 12px rgba(0,0,0,.25));
}

.intro-about{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 14px;
  line-height:1.35;
  letter-spacing:.0.4em;
  max-width: 700px;
  padding: 5px 00 0 2px;;
  margin-top:50px;
  display: flex;
  transform: translateY(-280px);
}

.about-arc{width: clamp(10px, 60vw, 280px);
   height: auto;
    margin-top: 18px;
    /* background-color: #c64a60; */
    transform: translateY(-200px);
}

#sketch-holder canvas{
  width:100% !important;
  height:auto !important;
  display:block;
}

.projects{
  font-family:"DM Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size:14px;
  line-height:1.35;
  letter-spacing:none;
  max-width: 35ch;
  padding: 5px 00 0 2px;;
  margin-top:0px;
  color: #c64a60;
}

#goToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;       
  z-index: 1000;  
  background: #c64a60;
  color:  #f7dfd8;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

#goToTop:hover {
  opacity: 1;
}

@media (min-width:768px){
  #sketch-holder{ margin-left:220px; }
  .sidebar{ width:220px; padding:26px 22px;}
  .nav-link{ font-size:14px; }
  .hero img {max-width: 500px;}
  .intro{ font-size:12px; max-width:800px; }
  .projects{ font-size:12px; max-width:45ch;}
  .video{ max-width:500px;}
}

